@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Medium.woff');
}

:root {
  --main-color: #2ca4a5;
  --main-color-hover: #228799;
  --contrasting-color: #df3186;
  --contrasting-color-hover: #c7177e;
  --submit-btn-color: white;
  --container-body-color: white;
  --body-bg-color: linear-gradient(90deg, #2ca5a533, #df318534);
  --done-task: #C7D0CC;
  --black: #11111e;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--body-bg-color);
}

